<h4 class="pb-3">Our Work</h4>
<p>Educating and empowering the artist community by providing the freshest news and latest best practices via the industry’s smartest practitioners.</p>
<p>Launched in 2003, xyz is unique in its community-based approach to search picture content. Virtually all of our contributed articles come from real online marketing experts, both independent and in-house.</p>
<h4 class="pb-3">Our Team</h4>
<div class="container-lg">
    <div class="row">
        <div class="col-md-4">
            <div class="xyz-fasocial">
                <div class="dark-image rimage mx-1">
                    <img loading="lazy" width="80" height="80" src="https://cdn.pixabay.com/photo/2016/11/18/19/07/happy-1836445__340.jpg" alt="Jose KD">
                </div>
                <div class="xyz-fainfo"><a href="https://josek.com/" class="xyz-faname">Jose KD</a>
                                            <div class="xyz-fastatus">Editorial Assistant</div></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="xyz-fasocial">
                <div class="dark-image rimage mx-1">
                    <img loading="lazy" width="80" height="80" src="https://cdn.pixabay.com/photo/2015/09/02/13/24/girl-919048__340.jpg" alt="Jose KD">
                </div>
                <div class="xyz-fainfo"><a href="https://josek.com/" class="xyz-faname">Anna</a>
                                            <div class="xyz-fastatus">Assistant Editor</div></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="xyz-fasocial">
                <div class="dark-image rimage mx-1">
                    <img loading="lazy" width="80" height="80" src="https://cdn.pixabay.com/photo/2016/11/18/19/07/happy-1836445__340.jpg" alt="Jose KD">
                </div>
                <div class="xyz-fainfo"><a href="https://josek.com/" class="xyz-faname">Amy</a>
                                            <div class="xyz-fastatus">Content Manager</div></div>
            </div>
        </div>
    </div>
</div>