.dark-image {
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 16px;
    line-height: 1;
}

.dark-image img {
    width: 100%;
    border-radius: 50%;
    filter: grayscale(1);
}

.xyz-fasocial {
    display: flex;
    align-items: center;
}

.xyz-fainfo {
    padding-left: 10px;
}

.xyz-fastatus {
    line-height: 1.2;
}

.xyz-faname {
    color: black;
}